/*
 * Copyright (c) 2021 Abel Sensors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&uart0 {
    status = "okay";
    current-speed = <57600>;

    saran310 {
        compatible = "ublox,sara-n310";
        label = "SARAN310";
    };
};
