/*
 * Copyright (c) 2021 Abel Sensors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
    clock-frequency = <I2C_BITRATE_FAST>;
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;

    gpio_expander: fxl6408@43 {
        status = "okay";
        compatible = "fcs,fxl6408";
        label = "FXL6408";
        reg = <0x43>;
        ngpios = <8>;
        #gpio-cells = <1>;
        gpio-controller;
    };
};
